.portfolio-container{
  display:flex;
  flex-direction: column;
}
.stock-portfolio-container,
.crypto-portfolio-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  margin-bottom: 20px; 
  display: inline-block; 
}
table {
  border-collapse: collapse;
  td,
  th {
    border: 1px solid rgba(0, 0, 0, 0.158);
    padding: 10px;
    text-align: left;
  }
}
